.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: black;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.homePageContainer p {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.container ul {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.container h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.container h3 {
    text-align: left;
    width: 100%;
    margin-top: 40px;
    padding-left: 140px;
}

.container h6 {
    text-align: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-left: 140px;
}