/* Contenedor del elemento de navegación */
.navItem {
    margin: 0 1rem;
}

/* Enlace de navegación */
.navLink {
    text-decoration: none;
    color: var(--quinary-color);
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navLink:hover {
    color: var(--cuaternary-color);
    /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño */
}

/* Media Queries para responsividad */
@media (max-width: 1280px) {
    .navItem {
        margin: 0 0.8rem;
    }

    .navLink {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .navItem {
        margin: 0 0.5rem;
    }

    .navLink {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .navItem {
        margin: 0 0.3rem;
    }

    .navLink {
        font-size: 0.7rem;
    }
}